<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>139310296084-s8k22ehogk61l31ravtsgl7g8tughhs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139310296084-s8k22ehogk61l31ravtsgl7g8tughhs7</string>
	<key>API_KEY</key>
	<string>AIzaSyBMykQjIk_KbctbUqq6j0Ds1_vM6KKWnAM</string>
	<key>GCM_SENDER_ID</key>
	<string>139310296084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.argentvgl.summary</string>
	<key>PROJECT_ID</key>
	<string>summary-d7699</string>
	<key>STORAGE_BUCKET</key>
	<string>summary-d7699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139310296084:ios:4ae634d3b01c6bb8</string>
	<key>DATABASE_URL</key>
	<string>https://summary-d7699.firebaseio.com</string>
</dict>
</plist>